<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="am.fillandgo.dao.ContractDao">

    <insert id="save">
        INSERT INTO contract (id, name, patronymic, surname, mobile_number, created_at, created_by, updated_at, updated_by)
        VALUES (#{contract.id}, #{contract.name}, #{contract.patronymic}, #{contract.surname}, #{contract.mobileNumber}, #{contract.createdAt}, #{contract.createdBy}, #{contract.updatedAt},#{contract.updatedBy})
    </insert>

    <select id="getAll" resultType="am.fillandgo.models.Contract">
        SELECT * FROM contract
        ORDER BY created_at DESC
    </select>
    <select id="countContracts" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM contract
    </select>
    <select id="checkIfContractExists" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM contract
            WHERE mobile_number = #{mobileNumber}
        )
    </select>

</mapper>